@import "./mixin.scss";

body {
  font-family: "Inter", sans-serif;
}
* {
  box-sizing: border-box;
}
.max-w-screen-2xl {
  max-width: 100%;
}
html, body 
{ 
 height: 100%;
 overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.mx-4 {
  margin-left: 1rem;
  margin-right: 1rem;
}
.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.xl-px-24 {
  padding-left: 6rem;
  padding-right: 6rem;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.gap-1 {
  gap: 0.25rem;
}
.gap-2 {
  gap: 0.5rem;
}
.gap-3 {
  gap: 0.75rem;
}
.gap-4 {
  gap: 1rem;
}
.gap-6 {
  gap: 1.5rem;
}
.gap-8 {
  gap: 2rem;
}
.gap-10 {
  gap: 2.5rem;
}
.gap-12 {
  gap: 3rem;
}
.gap-14 {
  gap: 3.5rem;
}
.gap-16 {
  gap: 4rem;
}
.gap-18 {
  gap: 4.5rem;
}
.gap-20 {
  gap: 5rem;
}
.max-w-xs {
  max-width: 20rem;
}
.max-w-sm {
  max-width: 24rem;
}
.max-w-md {
  max-width: 28rem;
}
.max-w-lg {
  max-width: 32rem;
}
.max-w-xl {
  max-width: 36rem;
}
.max-w-2xl {
  max-width: 42rem;
}
.max-w-3xl {
  max-width: 48rem;
}
.max-w-4xl {
  max-width: 56rem;
}
.max-w-5xl {
  max-width: 64rem;
}
.max-w-6xl {
  max-width: 72rem;
}
.max-w-7xl {
  max-width: 80rem;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.b-gradient-to-r {
  background-image: linear-gradient(to right, #ff4747, rgba(255, 255, 255, 0));
}
.b-gradient-to-l {
  background-image: linear-gradient(to left, #ff4747, rgba(255, 255, 255, 0));
}
.b-gradient-to-t {
  background-image: linear-gradient(to top, #ff4747, rgba(255, 255, 255, 0));
}
.b-gradient-to-b {
  background-image: linear-gradient(to bottom, #eec1c1, rgba(255, 255, 255, 0));
}

.py-24 {
  padding-top: 6rem;
  padding-bottom: 6rem;
}
.py-36 {
  padding-top: 9rem;
  padding-bottom: 9rem;
}
.py-48 {
  padding-top: 12rem;
  padding-bottom: 12rem;
}
.text-4xl {
  font-size: 3rem;
  line-height: 1;
}
.text-5xl {
  font-size: 3.75rem;
  line-height: 1;
}
.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.font-bold {
  font-weight: 700;
}
.leading-snug {
  line-height: 1.25;
}
.leading-30 {
  line-height: 1.875rem;
}

.text-red {
  color: #ff4747;
}
.text-blue {
  color: #6365f1;
}
.text-green {
  color: #28a745;
}
.text-yellow {
  color: #ffc107;
}
.text-pink {
  color: #d63384;
}
.text-purple {
  color: #6f42c1;
}
.text-indigo {
  color: #6610f2;
}
.text-grey {
  color: #4a4a4a;
}
.text-white {
  color: #fff;
}
.h-full {
  height: 100%;
}
.bg-red {
  background-color: #ff4747;
}
.bg-beige {
  background-color: #F1E7E1;
}
.bg-chocolate {
  background: linear-gradient(135deg, #4A2C2A 0%, #795C4F 25%, #D1AC00 50%, #EADAB8 75%, #FFF4E6 100%);

}
.bg-chocolate2 {
  background: linear-gradient(360deg, 
  #3e2723 0%,      /* Chocolat très foncé */
  #5D4037 50%,     /* Chocolat marron moyen */
  #A1887F 100%);
}
.bg-fruit {
  background: linear-gradient(135deg, #E53935 0%, #FFBA80 25%, #8CD790 50%, #5C6BC0 75%, #FFF176 100%);

}
.bg-gourmand {
  background: linear-gradient(135deg, #FADADD 0%, #EADAB8 100%);


}
.bg-creme {
  background: linear-gradient(135deg, #FFF4E6 0%, #FFECDA 100%);

}
.bg-macaron {
  background: linear-gradient(135deg, 
  #F49AC2 0%,       
  #A7D676 25%,     
  #9999CC 50%, 
  #FDEAA8 75%,
  #9A8194 100%); 
}
.bg-belge-dark {
  background-color: rgb(255, 228, 201);
}
.bg-dark-green {
  background-color: rgb(190, 209, 207);
}
.bg-dark-pink {
  background-color: rgb(231, 136, 149);
}
.text-left {
  text-align: left;
}
.subtitle {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 700;
}
.title {
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 700;
}
.btn-primary {
  background-color: #ff4747;
  padding: 0.5rem 1rem;
  border: none;
  color: #fff;
  cursor: pointer;
}

.btn-secondary {
  background-color: #fff;
  padding: 0.5rem 1rem;
  border: 1px solid #ff4747;
  color: #ff4747;
  cursor: pointer;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.px-8 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.px-16 {
  padding-left: 2rem;
  padding-right: 2rem;
}
.px-32 {
  padding-left: 4rem;
  padding-right: 4rem;
}
.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
.py-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.font-semibold {
  font-weight: 600;
}
.rounded-full {
  border-radius: 9999px;
}
.space-y-7 {
  gap: 1.75rem;
}
.space-y-3 {
  gap: 0.75rem;
}
.space-y-4 {
  gap: 1rem;
}
.space-y-2 {
  gap: 0.5rem;
}
.space-0 {
  gap: 0;
}
.space-y-1 {
  gap: 0.25rem;
}
.space-y-6 {
  gap: 1.5rem;
}
.space-y-8 {
  gap: 2rem;
}
.space-x-4 {
  gap: 1rem;
}
.space-x-2 {
  gap: 0.5rem;
}
.space-x-3 {
  gap: 0.75rem;
}
.space-x-6 {
  gap: 1.5rem;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
.w-full {
  width: 100%;
}

.rounded-2xl-image {
  border-radius: 1rem;
  width: 40%;
}
.min-h-screen {
  min-height: 100vh;
}
.bg-red-200 {
  background-color: #ff4747;
}
.bg-green {
  background-color: rgb(232, 239, 207);
}

.align-center {
  align-items: center;
}
.bg-white {
  background-color: #ffffff90;
}
.rounded-2xl {
  border-radius: 1.2rem;
}
.fixed {
  position: fixed;
}
.z-10 {
  z-index: 10;
}
.top-0 {
  top: 0;
}
.top-8 {
  top: 2rem;
}
.left-0 {
  left: 0;
}
.right-0 {
  right: 0;
}
.bottom-0 {
  bottom: 0;
}
.top-0-2 {
  top: 0.2rem;
}
.left-0-2 {
  left: 0.2rem;
}
.right-0-2 {
  right: 0.2rem;
}
.bottom-0-2 {
  bottom: 0.2rem;
}
.right-3 {
  right: 0.75rem;
}
.right-15 {
  right: 3.75rem;
}
.top-15 {
  top: 3.75rem;
}
.top-18 {
  top: 4.5rem;
}
.right-18 {
  right: 4.5rem;
}
.top-25 {
  top: 6.25rem;
}
.top-30 {
  top: 7.5rem;
}
.top-35 {
  top: 8.75rem;
}
.top-40 {
  top: 10rem;
}
.top-45 {
  top: 11.25rem;
}
.top-50 {
  top: 12.5rem;
}
.top-55 {
  top: 13.75rem;
}
.top-60 {
  top: 15rem;
}
.right-25 {
  right: 6.25rem;
}
.right-28 {
  right: 7rem;
}

.right-30 {
  right: 7.5rem;
}
.right-35 {
  right: 8.75rem;
}
.right-40 {
  right: 10rem;
}
.right-45 {
  right: 11.25rem;
}
.right-50 {
  right: 12.5rem;
}
.right-55 {
  right: 13.75rem;
}
.right-60 {
  right: 15rem;
}
.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.duration-150 {
  transition-duration: 150ms;
}
.ease-in-out {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.ease-in {
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
}
.ease-out {
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}
.duration-150 {
  transition-duration: 150ms;
}
.duration-200 {
  transition-duration: 200ms;
}
.duration-300 {
  transition-duration: 300ms;
}
.z-50 {
  z-index: 50;
}
.z-100 {
  z-index: 100;
}
.z-200 {
  z-index: 200;
}
.z-10000 {
  z-index: 10000 !important;
}
.bg-transparent {
  background-color: transparent;
}
.bg-gray-100 {
  background-color: #f7fafc;
}
.bg-gray-200 {
  background-color: #edf2f7;
}
.bg-base-100 {
  // background-color: #f8fafb;
  background-color: #f8fafb24;
}
.bg-base-200 {
  background-color: #f1f5f9;
}
.bg-base-300 {
  background-color: #e2e8f0;
}
.font-medium {
  font-weight: 500;
}
.mb-1 {
  margin-bottom: 0.25rem;
}
.mb-10 {
  margin-bottom: 2.5rem;
}
.mb-12 {
  margin-bottom: 3rem;
}
.mb-16 {
  margin-bottom: 4rem;
}
.mb-2 {
  margin-bottom: 0.5rem;
}
.mb-20 {
  margin-bottom: 5rem;
}
.mb-24 {
  margin-bottom: 6rem;
}
.mb-3 {
  margin-bottom: 0.75rem;
}
.mb-32 {
  margin-bottom: 8rem;
}

.w-10 {
  width: 2.5rem;
}
.w-12 {
  width: 3rem;
}
.w-14 {
  width: 3.5rem;
}
.w-16 {
  width: 4rem;
}
.w-20 {
  width: 5rem;
}
.w-24 {
  width: 6rem;
}
.w-28 {
  width: 7rem;
}
.w-32 {
  width: 8rem;
}
.w-40 {
  width: 10rem;
}
.w-48 {
  width: 12rem;
}
.w-64 {
  width: 16rem;
}
.w-72 {
  width: 18rem;
}
.w-80 {
  width: 20rem;
}
.w-84 {
  width: 21rem;
}

.w-96 {
  width: 24rem;
}
.w-100 {
  width: 25rem;
}
.w-112 {
  width: 28rem;
}
.w-150 {
  width: 37.5rem;
}
.w-200 {
  width: 50rem;
}
.w-250 {
  width: 62.5rem;
}
.w-300 {
  width: 75rem;
}
.w-400 {
  width: 100rem;
}
.w-500 {
  width: 125rem;
}
.w-600 {
  width: 150rem;
}
.w-700 {
  width: 175rem;
}
.w-800 {
  width: 200rem;
}
.w-900 {
  width: 225rem;
}
.cover {
  object-fit: cover;
}
.rounded-semi {
  border-radius: 20px 0 0 20px;
}
.justify-around {
  justify-content: space-around;
}
.-mt-18 {
  margin-top: -4.5rem;
}
.mt-12 {
  margin-top: 3rem;
}
.mt-10 {
  margin-top: 2.5rem;
}
.mt-20 {
  margin-top: 5rem;
}
.mt-30 {
  margin-top: 7.5rem;
}
.mt-40 {
  margin-top: 10rem;
}
.mt-50 {
  margin-top: 12.5rem;
}
.mt-60 {
  margin-top: 15rem;
}
.mt-70 {
  margin-top: 17.5rem;
}
.d-block {
  display: block;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.text-align-center {
  text-align: center;
}
.section-container {
  max-width: 1200px;
  margin: 0 auto;
}
.uppercase {
  text-transform: uppercase;
}
.tracking-wide {
  letter-spacing: 0.025em;
}
.tracking-wider {
  letter-spacing: 0.05em;
}
.tracking-widest {
  letter-spacing: 0.1em;
}

.text-lg {
  font-size: 1.125rem;
}
.text-sm {
  font-size: 0.875rem;
}
.text-2xl {
  font-size: 1.5rem;
}
.text-xl {
  font-size: 1.25rem;
}
.text-xs {
  font-size: 0.75rem;
}
.text-center {
  text-align: center;
}
.text-white {
  color: #fff;
}
.text-black {
  color: #000;
}
.p-5 {
  padding: 1.25rem;
}
.p-2 {
  padding: 0.5rem;
}
.p-3 {
  padding: 0.75rem;
}
.p-4 {
  padding: 1rem;
}
.p-6 {
  padding: 1.5rem;
}
.p-8 {
  padding: 2rem;
}
.p-10 {
  padding: 2.5rem;
}
.flex-row {
  flex-direction: row;
}
.underline {
  text-decoration: underline;
}
.btn-outline {
  border-width: 2px;
  border-style: solid;
  border-color: #f44336;
  color: #f44336;
  background-color: transparent;
  &:hover {
    background-color: #f44336;
    color: #fff;
  }
}
.btn-circle {
  height: 3rem;
  width: 3rem;
  border-radius: 9999px;
  padding: 0;
}
.bton-outline-tiktok {
  border-width: 2px;
  border-style: solid;
  color: #000;
  background-color: transparent;
}
.bton-outline-google {
  border-width: 2px;
  border-style: solid;
  color: #ff4747;
  background-color: transparent;
}
.bton-outline-facebook {
  border-width: 2px;
  border-style: solid;
  border-color: #fff;
  color: blue;
  background-color: transparent;
}
.bton-outline-instagram {
  border-width: 2px;
  border-style: solid;
  border-color: #fff;
  color: #000;
  background-color: transparent;
}
.inline-block {
  display: inline-block;
}
.butn {
  display: inline-flex;
  height: 3rem;
  min-height: 3rem;
  flex-shrink: 0;
  cursor: pointer;
  user-select: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border-color: transparent;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
  font-size: 0.875rem;
  line-height: 1em;
  gap: 0.5rem;
  font-weight: 600;
  text-decoration-line: none;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  border-radius: 999999px;
}
.hover-translate-y-2 {
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.hover-translate-y-2:hover {
  transform: translateY(-1rem);
}
.hover-translate-y-4 {
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.hover-translate-y-4:hover {
  transform: translateY(-3rem);
}
.hover-scale-105 {
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.hover-scale-105:hover {
  transform: scale(1.05);
}
.hover-scale-110 {
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hover-scale-110:hover {
  background-color: rgba(4, 94, 219, 0.05);
  transform: scale(1.1);
}
.hover-scale-80 {
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.hover-scale-80:hover {
  transform: scale(0.8);
}
.cursor-pointer {
  cursor: pointer;
}
.shadow-lg {
  box-shadow:
    0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
}
.shadow-xl {
  box-shadow:
    0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
}
.shadow-2xl {
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}
.shadow-3xl {
  box-shadow: 35px 60px -15px rgba(0, 0, 0, 0.3);
}
.shadow-inner {
  box-shadow: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);
}
.shadow-outline {
  box-shadow: 0 0 0 3px rgb(66 153 225 / 0.5);
}
.rounded.md {
  border-radius: 0.5rem;
}
.rounded-3xl {
  border-radius: 1.5rem;
}
.rounded-4xl {
  border-radius: 2rem;
}
.rounded-5xl {
  border-radius: 2.5rem;
}
.rounded-6xl {
  border-radius: 3rem;
}
.rounded-7xl {
  border-radius: 3.5rem;
}
.rounded-8xl {
  border-radius: 4rem;
}
.rounded-9xl {
  border-radius: 5rem;
}
.rounded-10xl {
  border-radius: 6rem;
}
.rounded-11xl {
  border-radius: 7rem;
}
.rounded-12xl {
  border-radius: 8rem;
}
.rounded-13xl {
  border-radius: 9rem;
}
.rounded-14xl {
  border-radius: 10rem;
}
.rounded-15xl {
  border-radius: 11rem;
}
.my-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}
.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.my-3 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}
.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.my-6 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.my-8 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.my-10 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}
.my-12 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.my-16 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.my-18 {
  margin-top: 4.5rem;
  margin-bottom: 4.5rem;
}
.my-20 {
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.my-24 {
  margin-top: 6rem;
  margin-bottom: 6rem;
}
.my-28 {
  margin-top: 7rem;
  margin-bottom: 7rem;
}
.my-32 {
  margin-top: 8rem;
  margin-bottom: 8rem;
}
.my-40 {
  margin-top: 10rem;
  margin-bottom: 10rem;
}
.my-48 {
  margin-top: 12rem;
  margin-bottom: 12rem;
}
.my-64 {
  margin-top: 16rem;
  margin-bottom: 16rem;
}
.my-72 {
  margin-top: 18rem;
  margin-bottom: 18rem;
}
.my-80 {
  margin-top: 20rem;
  margin-bottom: 20rem;
}
.my-96 {
  margin-top: 24rem;
  margin-bottom: 24rem;
}
.rounded-md {
  border-radius: 1rem;
}
.rounded-demi {
  border-radius: 0px 0 20px 20px;
}
.rounded-remi {
  border-radius: 15px 15px 0 0;
}

figure {
  padding: 0;
  border: 0;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  font-size: 0;
  line-height: 0;
}
.heartState {
  // border-radius: 37.5px 37.5px 10px 42.5px;
  border-radius: 37.5px 37.5px 10px 42.5px;
  border: 2px solid #f05c0d;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.bg-cyan-500 {
  background-color: #f05c0d;
}
.bg-cyan-500:hover {
  background-color: #531e01;
}
.ml-2 {
  margin-left: 0.5rem;
}
.ml-4 {
  margin-left: 1rem;
}
.ml-6 {
  margin-left: 1.5rem;
}
.ml-8 {
  margin-left: 2rem;
}
.ml-10 {
  margin-left: 2.5rem;
}
.ml-12 {
  margin-left: 3rem;
}
.ml-16 {
  margin-left: 4rem;
}
.ml-18 {
  margin-left: 4.5rem;
}
.ml-20 {
  margin-left: 5rem;
}
.ml-24 {
  margin-left: 6rem;
}
.ml-28 {
  margin-left: 7rem;
}
.overflow-hidden {
  overflow: hidden;
}
.mt-1 {
  margin-top: 0.25rem;
}
.mt-2 {
  margin-top: 0.5rem;
}
.mt-3 {
  margin-top: 0.75rem;
}
.mt-4 {
  margin-top: 1rem;
}
.mt-6 {
  margin-top: 1.5rem;
}
.mt-8 {
  margin-top: 2rem;
}
.mb-8 {
  margin-bottom: 2rem;
}
.mb-10 {
  margin-bottom: 2.5rem;
}
.mb-12 {
  margin-bottom: 3rem;
}
.mb-16 {
  margin-bottom: 4rem;
}
.mb-18 {
  margin-bottom: 4.5rem;
}
.mb-20 {
  margin-bottom: 5rem;
}
.mb-24 {
  margin-bottom: 6rem;
}
.mb-28 {
  margin-bottom: 7rem;
}
.mb-32 {
  margin-bottom: 8rem;
}
.mb-40 {
  margin-bottom: 10rem;
}
.mb-48 {
  margin-bottom: 12rem;
}
.mb-64 {
  margin-bottom: 16rem;
}
.mb-72 {
  margin-bottom: 18rem;
}
.mb-80 {
  margin-bottom: 20rem;
}
.mb-96 {
  margin-bottom: 24rem;
}
.mt-6 {
  margin-top: 1.5rem;
}
.mt-8 {
  margin-top: 2rem;
}
.mt-10 {
  margin-top: 2.5rem;
}
.mt-12 {
  margin-top: 3rem;
}
.mt-16 {
  margin-top: 4rem;
}
.mt-18 {
  margin-top: 4.5rem;
}
.mt-20 {
  margin-top: 5rem;
}
.mt-24 {
  margin-top: 6rem;
}
.mt-28 {
  margin-top: 7rem;
}
.mt-32 {
  margin-top: 8rem;
}
.mt-40 {
  margin-top: 10rem;
}
.mt-48 {
  margin-top: 12rem;
}
.mt-64 {
  margin-top: 16rem;
}
.mt-72 {
  margin-top: 18rem;
}
.mt-80 {
  margin-top: 20rem;
}
.mt-96 {
  margin-top: 24rem;
}
.m-12 {
  margin-right: 3rem;
}
.m-20 {
  margin-right: 5rem;
}
.space-x-5 {
  gap: 1.25rem;
}
blockquote {
  margin: 0 0 2rem;
}
// mise en place de la mixin hover-link pour un padding et d'un background gris au survole d'un lien
a {
  text-decoration: none;
  color: #000;
  transition: all 0.2s ease-in-out;
  &:hover {
    @include hover-scale(1.1);
    text-decoration: none;
  }
}
.hover-border-red {
  border: none;
  &:hover {
    border: 2px solid #ff4747;
  }
}
.bg-prigmayBG {
  // background-color: #f8f8f8;
  background-color: rgba(240, 248, 255, 0.65);
}
.min-h-screen {
  min-height: 100vh;
}
.button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.active {
  color: #ff4747;
  border-bottom: 2px solid #ff4747;
  font-weight: 900;
  transition: all 0.3s ease-in-out;
}
.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.py-12 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.py-16 {
  padding-top: 4rem;
}
.max-w-md {
  max-width: 28rem;
}
.shadow-4xl {
  box-shadow:
    -1px 1px 20px 15px rgba(0, 0, 0, 0.1),
    0 8px 10px -6px rgba(0, 0, 0, 0.1);
}
.top-2 {
  top: 0.5rem;
}
.right-2 {
  right: 0.5rem;
}
