.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Utiliser la hauteur totale de la fenêtre de visualisation pour centrage vertical */
}

.loading-logo {
  font-size: 300px; /* Taille de l'icône */
  color: #f05c0d;
  animation: spin 1s linear infinite; /* Définition de l'animation de rotation */
}

@keyframes spin {
  from {
    transform: rotate(0deg); /* Début de la rotation à 0 degrés */
  }
  to {
    transform: rotate(360deg); /* Rotation complète à 360 degrés */
  }
}
