.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem; 
  align-items: center;
  background-color: #f3f4f6d0;


  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 2px 4px 0 rgba(0, 0, 0, 0.06);
  // padding: 20px 0;
  width: 100%;
  margin-bottom: 20px;
}

.navbar-start,
.navbar-center,
.navbar-end {
  display: flex;
  align-items: center;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f3f4f6; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 4px;
}

div[role="button"] {
  display: none;
}
.menu {
  font-size: 1.1rem;
  list-style: none;
  margin: 0;

  details {
    position: relative;
  }

  summary {
    position: relative;
    z-index: 1;
  }
  summary + * li {
    list-style: none;
    margin: 20px 0;
    cursor: pointer;
  }
  summary + * li:hover {
    color: #6366f1; /* hover:text-blue-500 */
  }

  summary + * li:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
  }

  details[open] summary ~ * {
    background: #f3f4f6b2; /* bg-base-100 */
    border-radius: 4px;
    padding: 10px;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 2;
  }
  &li {
    margin: 30px 0;
    cursor: pointer;
  }

  padding: 0;
}

.btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  color: #333;
  text-decoration: none;
  transition: color 0.3s;
}

.btn:hover {
  color: #6366f1; /* hover:text-blue-500 */
}

.dropdown:hover .dropdown-content {
  display: block;
}

.menu-horizontal {
  display: flex;
}

.menu-horizontal li {
  margin-right: 30px;
}

// .menu-horizontal li:last-child {
//   margin-right: 0;
// }
.bton-ghost {
  border-radius: 30px;
  margin: 0 30px;
  cursor: pointer;
  color: #333;
  text-decoration: none;
}

.btn-ghost {
  // background-color: #f3f4f6b2;
  border-radius: 20px;
  margin: 0 10px;
  cursor: pointer;
  color: #333;
  text-decoration: none;
}
img[alt="logo"]:hover {
  scale: 1.1;
  transition: scale 0.3s;
}
.btn-primary-login {
  padding: 0.8rem 1.5rem;
  margin: 0 10px;
  border-radius: 20px;
  background-color: #ff4747;
  color: #fff;
  cursor: pointer;
}
.btn-primary-login:hover {
  background-color: #363739;
  color: #fff;
  scale: 1.1;
  transition: scale 0.3s;

}
.bton-ghost:hover {
  color: #333; /* hover:text-blue-500 */
  scale: 1.1;
  transition: scale 0.3s;
}
.bton-ghost .fa-bars {
  display: none;
}


.btn-ghost:hover {
  // background-color: #6365f15a;
  color: #333; /* hover:text-blue-500 */
  scale: 1.2;
  transition: scale 0.3s;
}
.btn-ghost .fa-bars {
  display: none;
}
/* Burger menu for mobile */
@media (max-width: 767px) {
  .navbar {
    padding: 1rem 0;
  }
  .navbar-center, .logo-react {
    display: none;
  }
  .navbar-end {
    justify-content: flex-end;
    width: 100%;
  }
  .navbar {
    justify-content: space-between;
  }
  .navbar-start {
    width: 100%;
    display: flex;
    align-items: center;
  }
  .navbar-start {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .btn-ghost .fa-bars {
    width: 100%;
    display: block;
  }
  div[role="button"] {
    display: block;
  }
}
