$blue: #0d6efd;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #d63384;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #198754;
$teal: #20c997;
$cyan: #0dcaf0;
$white: #fff;
$gray: #6c757d;
$gray-dark: #343a40;
$primary: #0d6efd;
$secondary: #6c757d;
$success: #198754;
$info: #0dcaf0;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #212529;
$padding-card: 2rem;
$rounded-box: 2rem;

$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "success": $success,
    "info": $info,
    "warning": $warning,
    "danger": $danger,
    "light": $light,
    "dark": $dark
);

$theme-colors-rgb: (
    "primary": to-rgb($primary),
    "secondary": to-rgb($secondary),
    "success": to-rgb($success),
    "info": to-rgb($info),
    "warning": to-rgb($warning),
    "danger": to-rgb($danger),
    "light": to-rgb($light),
    "dark": to-rgb($dark)
);

$theme-colors-inverse: (
    "primary": $white,
    "secondary": $gray-dark,
    "success": $white,
    "info": $white,
    "warning": $gray-dark,
    "danger": $white,
    "light": $gray-dark,
    "dark": $white

);

$theme-colors-inverse-rgb: (
    "primary": to-rgb($white),
    "secondary": to-rgb($gray-dark),
    "success": to-rgb($white),
    "info": to-rgb($white),
    "warning": to-rgb($gray-dark),
    "danger": to-rgb($white),
    "light": to-rgb($gray-dark),
    "dark": to-rgb($white)
);

$theme-colors-rgb-inverse: (
    "primary": to-rgb($primary),
    "secondary": to-rgb($secondary),
    "success": to-rgb($success),
    "info": to-rgb($info),
    "warning": to-rgb($warning),
    "danger": to-rgb($danger),
    "light": to-rgb($light),
    "dark": to-rgb($dark)
);

$font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));

