.button-modal {
  font-family: inherit;
  cursor: pointer;
  background: #f44336;
  color: #fff;
  border: 0;
  border-radius: 20px;
  font-size: 16px;
  font-weight: bold;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-box {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  width: 400px;

  h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1rem;
    margin-bottom: 1.5rem;
  }

  .modal-action {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }

  .btn {
    padding: 8px 16px;
    border: none;
    background-color:#f44336;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      background-color: #45a049;
    }
  }

  .btn-close {
    padding: 8px 16px;
    border: none;
    background-color: #f44336;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      background-color: #d32f2f;
    }
  }
}
.card-body {
  .form-control {
    margin-bottom: 1.5rem;

    .label {
      display: block;
      font-weight: bold;
      margin-bottom: 0.5rem;
    }

    .label-text {
      display: block;
    }

    .label-text-alt {
      color: #667;
      font-size: 0.875rem;
    }

    .input {
      width: 100%;
      padding: 1rem;
      font-size: 1rem;
      border: 1px solid #ccc;
      border-radius: 4px;

      &:focus {
        outline: none;
        border-color: #f44336;
      }
    }

    .input-bordered {
      border-width: 1px;
    }

    .input input[type="email"],
    .input input[type="password"] {
      padding-right: 40px; // Pour permettre l'affichage du lien 'Forgot password?'
    }

    .link {
      text-decoration: none;
      color:#f44336;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .mt-6 {
    margin-top: 1.5rem;
  }

  .btn {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    &.btn-primary {
      width: 100%;
      background-color: #f44336;
      color: #fff;

      &:hover {
        background-color: #45a049;
      }
    }

    &.btn-close {
      background-color: #f44336;
      color: #fff;

      &:hover {
        background-color: #d32f2f;
      }
    }
  }
}
// .modal {
//   @media (min-width: 320px) and (max-width: 768px) {
//     align-items: flex-end;
//     width: 100%;
//     z-index: 9999;
//   }
// }
// .modal-box {
//   @media (min-width: 320px) and (max-width: 768px) {
//     width: 100%;
//     border-radius: 20px 20px 0 0;
//     height: 60%;
//   }
// }
